$buttonFont: 0.7rem;
$h1: 2rem;
$h2: 1.2rem;
$h3: 0.9rem;
$navFont: 0.9rem;
$para: 0.9rem;
$tweet: 0.7rem;

@font-face {
    font-family: 'tweekFont';
    src: url('fonts/SourceSansPro-Light.ttf');
}
:root {
    font-family: 'tweekFont';
    font-size: 25px;

    @media(max-width: 1025px) {
        font-size: 20px;

        .tweetContainerS {
            margin: 0.3rem;
            width: 18.5rem;
        }
    }
    @media(max-width: 400px) {
        font-size: 15px;

        .tweetContainerS {
            box-shadow: none;
            width: 90%;
        }
    }
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: $h1;
    font-weight: 300;
    margin: 1rem 0;

    nav & {
        margin: 0;
        padding: 1rem 0;
    }
}

h2 {
    font-size: $h2;
    font-weight: 300;
    margin: 0.5em 0;
}

h3 {
    font-size: $h3;
    text-decoration: none;
}

p {
    font-size: $para;
}

a {
    font-size: $para;
    text-decoration: none;
}

.buttonLink {
    color: #098ac1;
    font-size: $para;
    font-weight: 700;

    &:hover {
        color: darken(#098ac1, 10);
    }
    &.negate {
        color: red - 20;

        &:hover {
            color: red + 50;
        }
    }
}

button, .button {
    background-color: green + 50;
    border: 0;
    color: white;
    display: inline-block;
    font-size: $para;
    height: 100%;
    margin: 0.3rem 0;
    padding: 0.5rem 0;
    width: 3rem;

    &:hover {
        background: green + 30;
    }
    &.negate {
        background: none;
        color: red - 20;
        font-weight: bold;
        margin: 0;
        padding: 0;

        &:hover {
            color: red + 50;
        }
    }
}

body {
    background-color: lightgrey + 23;
    text-align: center;
}

nav {
    background-color: #098ac1;
    color: white;
    font-weight: bold;

    p {
        margin-right: 2rem;
    }
    ul > * {
        display: inline-block;
        list-style: none;
        vertical-align: middle;
        width: 6rem;

        & > a {
            color: white;
            display: block;
            height: 100%;
            padding: 1rem 0;
            width: 100%;

            &:hover {
                background-color: #098ac1 - 20;
            }
        }
    }

}

img {
    &.welcome {
        max-width: 20rem;
        background: lightgray;
        padding: 0.125rem;
        margin-bottom: 1rem;
    }
    &.emoji {
        display: inline;
        margin: 0 2px;
        max-height: 0.85rem;
        max-width: 0.85rem;
    }
}

.intro {
    font-size: 1rem;
    margin: 1rem auto;
    max-width: 26rem;
    text-align: left;
}

.flash {
    background-color: #098ac1 - 10;
    color: white;
    font-weight: bold;
    margin: 1rem auto;
    max-width: 25rem;
    padding: 0.75rem 0;

    &.red {
        background-color: red + 80;
    }
    &.green {
        background-color: green + 50;
    }
}

.search {
    margin-bottom: 0.5rem;

    p {
        display: block;
        margin: 1rem 5rem;
    }
    input[type="text"] {
        border: 1px solid lightgrey;
        display: inline-block;
        font-size: $para;
        margin-left: 0.2rem;
        margin-right: 1rem;
        padding: 0.5rem;
    }
}

.options {
    margin-bottom: 1rem;

    ul > * {
        display: inline-block;
        list-style: none;
        vertical-align: middle;
        width: 3rem;
    }
}

.tweets {
    display: inline-block;
}

.tweetContainerU {
    margin: 0 auto;
    max-width: 35rem;

    .tweet {
        padding: 0.3rem 0;

        .imageDiv {
            img {
                float: left;
                max-width: 13%;
            }
        }
        .contentDiv {
            float: right;
            text-align: left;
            width: 87%;

            a.tweet {
                &:visited, &:link, &:active {
                    color: black;
                }
                .tweet {
                    background-color: lightgrey + 35;
                    min-height: 4rem;

                    .text {
                        font-size: $tweet;
                        padding: 0.3rem 1rem;
                    }
                    .tiny {
                        font-size: 0.5rem;
                        font-weight: 700;
                        padding: 0 1rem;
                    }
                    &:hover {
                        background-color: lightgrey + 20;
                    }
                }

            }
        }
        .clear {
            clear: both;
        }
    }
}

.tweetContainerS {
    background-color: white;
    border: 1px solid lightgrey;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: inline-block;
    margin: 0 1rem;
    margin-bottom: 1rem;
    min-height: 6rem;
    padding-top: 0.5rem;
    vertical-align: top;
    width: 20rem;

    img {
        height: 5rem;
        width: 5rem;
    }
    .info {
        padding-bottom: 1rem;
    }
    .feed {
        text-align: left;
    }
    a.tweet {
        &:visited, &:link, &:active {
            color: black;
        }
        .tweet {
            background-color: lightgrey + 35;
            border-top: 1px solid lightgrey;

            .text {
                font-size: $tweet;
                padding: 0.3rem 1rem;
            }
            .tiny {
                font-size: 0.48rem;
                font-weight: 700;
                padding: 0.25rem 1rem;
            }
            &:hover {
                background-color: lightgrey + 20;
            }
        }

    }
}
